<style>
	/*- static, relative, absolute, fixed -*/
	html, body{
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
	}
	* {
		box-sizing: inherit;
		margin: 0px;
		padding: 0px;
	}
	
	html, h1, h2, h3, h4, h5, h6 {
		padding: 0;
		margin: 0;
	}


	/*- Mobile Navigation starts here -*/
.navigation{
	list-style: none;
	font-family: Helvetica Neue;
	font-weight: lighter;
	color: white;
	letter-spacing: .5px;
	background: #1111;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
	z-index: 0;
	line-height: 50px;
	padding-left: 25px;
	padding-top: 10px;

}
.site-wrap {
    min-width: 100%;
    min-height: 65%;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding:15em;
    /*background-image: linear-gradient(13deg, 
                      rgb(255,255,255) 0%,
                      rgb(255,255,255) 0%,
                      rgb(255,255,255) 0%);*/
    background-size: 500%;
    padding: 0px;
    padding-left: 0;
    position: absolute;
}

.nav-trigger{
	position: absolute;
	clip: rect(0,0,0);
	opacity: 0;
}
label[for="nav-trigger"] {
    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 2;
    width: 30px;
    height: 20px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 277px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 270px;
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}
body {
    overflow-x: hidden;
}
/*- Mobile Navigation ends here -*/

	#banner {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 170px;
		z-index: -1;
		background: white;
		box-shadow: 0;

	}
	.text{
		max-width: 600px;
		font-family:  Helvetica Neue;
		color: white;
		padding-left:60px;
		padding-right: 60px;
		padding-top: 40px;
  		text-align: center;
  		margin: 0 auto;
	}

	h1{
		font-size: 20px;
		font-weight: lighter;
		letter-spacing: 2px;
		padding-bottom: 0px;
		text-align: center;
		max-width: 100%;
		color: black;
		}

	p{
		font: Helvetica Neue;
		font-size: 15px;
		color: black;
		line-height: 25px;
		text-align: left;
		text-align: justify;
	}

	.menu {
			background-color: black;
			width: 100%;
			padding: 2px;
			margin-top: 10px;
			position: center;
			text-align: center;
			color: white;
	}

		.menu:	last-child {
			margin: 0 auto;
			padding: 0;
			}

	.options{
			font-weight: medium;
			font-size: 12px;
			padding-bottom: 0px;
			padding-top: 0px;
			line-height: 50px;
			}

	.box{
			background-color: white;
			width: 100%;
			padding: 35px;
			margin-top: 20px;
			position: center;
			text-align: center;

			}

	.box:	last-child {
			margin: 0 auto;
			padding: 0;
			}

	.logo{
		width: 100%;
		}

	#logo{
		height: auto;
		width: auto;
		max-width: 75px;
		max-height: 75px;
		padding-top: 5px;
		padding-bottom: 5px;
		}

	.cupimage{
		padding-top: 325px;
		margin: 0 auto;
		max-width: 100%;
		}



/*-Desktop Nav-*/
/*for responsive boxes-*/
* {
  box-sizing: border-box;
}

clearfix {
  overflow=auto
}
/*end for responsive boxes-*/

body {
  font-family:  Helvetica Neue;
  font-weight: medium;
  letter-spacing: 1px;
}

html {
  font-size: 15px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}


.nav-top {
  text-align: center;
  font-size: 9pt;
  margin-top: -82px;
  color: black;
}
.nav-top ul{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}
.nav-top li {
  display: inline-block;
  padding: 30px 3%;
}
/*Desktop Nav ends here*/

body{
	
}
@media screen and (max-width: 1024px) {
	/*For Mobile */
	.nav-top {display: none;

	} 

}
	/*For Desktop */
@media only screen (min-device-width: 1024px) {
	 .navigation {display: none;

	}
}

html{
	/*background: url(http://i1383.photobucket.com/albums/ah294/rcvillo/Elisabeth%20web/IMG_5830_zpsg85ecxgy.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

.background {
	width: auto;
    height: 1000px;
    background-image: url('http://i1383.photobucket.com/albums/ah294/rcvillo/Elisabeth%20web/IMG_5816_zpsqyr3tpmt.jpg');
    background-size: cover;
    background-position: 10% 30%;
}

.clearfix{
overflow: auto;
}

.nav-top li a {color: black;
text-decoration: none;}

.navigation li a{
	color: black;
	text-decoration: none;
}
.options  div a {color: black;
text-decoration: none;}

.menu a {
	color: #fff;
	text-decoration: none;}

.menu a:visited {
	color: #fff;
	text-decoration: none;}

  </style>
